<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>FetchAll</display-name>
    <servlet-name>FetchAll</servlet-name>
    <servlet-class>com.tap.servlets.FetchAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAll</servlet-name>
    <url-pattern>/FetchAll</url-pattern>
  </servlet-mapping>
  <display-name>StudentCRUDApp</display-name>
  <welcome-file-list>
    <welcome-file>FetchAll</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.tap.servlets.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAdd</display-name>
    <servlet-name>StudentAdd</servlet-name>
    <servlet-class>com.tap.servlets.StudentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAdd</servlet-name>
    <url-pattern>/StudentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchOne</display-name>
    <servlet-name>FetchOne</servlet-name>
    <servlet-class>com.tap.servlets.FetchOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchOne</servlet-name>
    <url-pattern>/FetchOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudent</display-name>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>com.tap.servlets.UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOne</display-name>
    <servlet-name>DeleteOne</servlet-name>
    <servlet-class>com.tap.servlets.DeleteOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOne</servlet-name>
    <url-pattern>/DeleteOne</url-pattern>
  </servlet-mapping>
</web-app>